<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="basselrafie.hungrybear">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainAllMenusActivity"></activity>
        <activity android:name=".MainSteakActivity" />
        <activity android:name=".MainFishActivity" />
        <activity android:name=".MainSaladActivity" />
        <activity android:name=".MainDoenerActivity" />
        <activity android:name=".MainAsianActivity" />
        <activity android:name=".MainBaguetteActivity" />
        <activity android:name=".MainItalianActivity" />
        <activity android:name=".MainBurgerActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AdminHome" />
        <activity android:name=".DoenerView" />
        <activity android:name=".PizzaView" />
        <activity android:name=".BurgerView" />
        <activity android:name=".ItalianView" />
        <activity android:name=".BaguetteView" />
        <activity android:name=".AsianView" />
        <activity android:name=".SaladView" />
        <activity android:name=".FishView" />
        <activity android:name=".SteakView" />
        <activity android:name=".AllView" />
    </application>

</manifest>